* {
    font-family: monospace;
    text-align: center;
}

main{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 1em;
}

div{
    border: 6px double black;
    box-shadow: 4px 4px 4px black;
    background: radial-gradient(white, rgb(233, 233, 233));
    width: 300px;
}

img{
    width: 250px;
    max-height: 400px;
    height: auto;
}